spring:
  cloud:
    gateway:
      routes:
        - id: core-service
          uri: lb://core-service
          predicates:
            - Path=/api/core/**
          filters:
            - StripPrefix=2
        - id: content-service
          uri: lb://content-service
          predicates:
            - Path=/api/content/**
          filters:
            - StripPrefix=2
        - id: file-service
          uri: lb://file-service
          predicates:
            - Path=/api/file/**
          filters:
            - StripPrefix=2

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
